.App {
  text-align: center;
}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1440px;

  grid-template-areas:
          "h h h"
          "n c c"
          "f f f";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.app-wrapper-content {
  grid-area: c;
  margin-top: 60px;
  background-color: #d5ecef;
  padding: 10px;
}

.app-wrapper-content img {
  width: 1150px;
  height: 160px;
}

.footer {
  grid-area: f;
}